ThinFilmOptics/ThinFilmOptics/bin/*
ThinFilmOptics/ThinFilmOptics/obj/*
ElectronOrbitals/ElectronOrbitals/bin/*
ElectronOrbitals/ElectronOrbitals/obj/*
BlackBodyRadiationApplication/BlackBodyRadiationApplication/bin/*
BlackBodyRadiationApplication/BlackBodyRadiationApplication/obj/*
